<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ed06971682.js" crossorigin="anonymous"></script>
    <title>The Bleed Read</title>
</head>
<body>   
    <nav class=" topnav navbar navbar-expand-lg sticky-top" id="navbar">
        <div class="links container-fluid">
            <a class="navbar-brand ml-3" href="#">
            <img class="w-25 m-0" src="/images/elogo.png" alt="logo" style="background-color: white;">
            </a>
            <ul class="ul navbar-nav mr-5 p-3">
                <li class="nav-item pl-3 active">
                    <a class="nav-link" style="color: #e74c30;" href="/">Home</a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link" href="/resources">Resources</a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
    
            <div class="row">
                <div class="social-links pl-5 float-right">
                    <a cl href="https://www.instagram.com/cg_femo"><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.instagram.com/cg_femo"><i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.instagram.com/hushpappi"><i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="display()">&#9776;</a>
        </div>
    </nav>
    <%- body %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script>

        function display() {
            const x = document.getElementById('navbar');
            if(x.className === 'navbar') {
                x.className += 'responsive';
            } else{
                x.className = 'navbar';
            }
        }
    </script>
</body>
</html>