
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 h-auto p-0 border-top border-danger">
            <img class="img h-50 w-100" src="images/THE BLEED READ UPLOADS-03.png" alt="home">
            <p class="pic_content">Supporting Mensturators Everywhere</p>
        </div>
        <div class="col md-4 h-auto border-top border-danger">
            <div class="container mx-auto">
                <p class="mx-auto">Recent Posts</p>
            </div>
        </div>
    </div>
</div>