.container-fluid {
    font-family: 'Roboto Condensed';
}

/*--------------NAVIGATION- LAYOUT VIEW--------------------------------*/

.topnav {
    background-color: #fff;
}

.nav-link {
    color: #062F4F;
    font-weight: bold;
    font-size: 2vmin;
}

.nav-link:hover {
    background-color: #062F4F;
    color: #fff;
    
}

.fa {
    color: #e74c30;
    float: right;
    padding: 5px;
    font-size: 16px;
}

.fa:hover {
    background-color: #062F4F;
    color: #fff;
    border-radius: 10px;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 1000px) {
    .topnav ul li a {
        display: none;
    }

    .topnav .icon {
        float: right;
        display: block;
        margin-left: 3em;
        color: #e74c30;
        font-weight: bold;
    }
}


@media screen and (max-width: 1000px) {
    .topnav.responsive { position: relative;}
    .topnav.responsive .icon {
        display: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive ul li a {
        display: block;
        text-align: center;
        z-index: 999;
        overflow: hidden;
    }
}
/*--------------WELCOME VIEW--------------------------------*/

.pic_content {
    font-family: 'Playfair Display';
    text-align: center;
    background-color: #800080;
    font-style: italic;
    font-size: medium;
    color: #fff;
    padding: 15px;
}